{% extends 'base_recipe_card.html' %}
{% block variation %}
    <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}" class="btn btn-primary recipe-btn">View</a>
    <a href="{{ url_for('update_recipe_route', recipe_id=recipe.id) }}" class="btn btn-secondary recipe-btn">Edit</a>
    <form method="POST" action="{{ url_for('delete_recipe_route', recipe_id=recipe.id) }}" style="display: inline;">
        <button type="submit" class="btn btn-danger recipe-btn">Delete</button>
    </form>
{% endblock %}